#divCard{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
row-gap: 30px;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
width: 80%;
}


#hero{
 height: 500px;
background-image: url("./drink-2910442_960_720.jpg");
background-repeat: no-repeat;
background-size: cover;
color: white;
}


input{
    width: 30%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', cursive;
}

.atr{
    color: black;
}
